<!DOCTYPE html>
<html>
    <head>
      <title>Boekhoudprogramma ZZP'ers</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body style="background:#F7F7F7;">
    
    <div class="container body">
    
      <%= yield %>
    
    </body>
</html>